
{
    "swagger": "2.0",
    "info": {
      "title": "ChatRoom-Project",
      "description": 
      "채팅 웹 사이트를 위해 만들어진 api 문서입니다. 포런트 디자이너는 이 문서를 참고하여 코딩합니다. https://editor.swagger.io/",
      "version": "1.0",
      "contact" : "uskawjdu.iptime.org"
    },
    
    "produces": ["application/json"],
    "host": "uskawjdu.iptime.org:8082",
    "basePath": "/api/swagger/v1",
    "paths": {
      "/main": {
        "get": {
          "operationId": "ViewMain",
          "tags": ["/routes"],
          "description": "main page",
          "parameters": [],
          "responses": {"200" : {"description" : "main.html 페이지 출력"}}
        }
      },
      "/login" : {
        "get": {
          "operationId": "ViewLogin",
          "tags": ["/routes"],
          "description": "Chat login Page",
          "parameters": [],
          "responses": {"200" : {"description" : "ChatLogin.html 페이지 출력"}}
        }
      },
      "/main/Chatwaiting" : {
        "get": {
          "operationId": "ViewChatWatting",
          "tags": ["/routes"],
          "description": "Chat login Page",
          "parameters": [],
          "responses": {"200" : {"description" : "Chatwaiting.html 페이지 출력"}}
        }
      },
      "/main/ChatRoom" : {
        "get": {
          "operationId": "ViewChatWatting",
          "tags": ["/routes"],
          "description": "Chat login Page",
          "parameters": [],
          "responses": {"200" : {"description" : "ChatRoom.html 페이지 출력"}}
        }
      },
      "/models/index" : {
        "api": {
          "operationId": "ViewChatWatting",
          "tags": ["/models"],
          "description": "Chat login Page",
          "parameters": [],
          "responses": {"200" : {"description" : "ChatRoom.html 페이지 출력"}}
        }
      }

    }
 }