<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat-Room</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Chat_Room.css"/>
<script id="applicationScript" type="text/javascript" src="Chat_Room.js"></script>
</head>
<body>
<div id="Chat-Room" class="Chat-Room_Class">
	

		<div class="head-title_Class">
			<div class="Chat-name-number_Class">
				<div class="Room_name_Class">
					<span>채팅방 - </span>
				</div>
				<div class="Room_number_Class">
					<span>1</span>
				</div>
			</div>
		</div>

	<div id="Chat-Room-Body">

		<div class="message_Class">
			<div class="clinet_Class">
				<span>client-1</span>
			</div>

			<div class="box_t_Class" >
				<span class="conlogin-div">
					안녕하세요.
				</span>
			</div>
		</div>


		<!-- 여백 -->
		<div class="message_Class" id="body-padding"></div> 
		
	</div>

	<div id="Chat-Room-foot">
		<input class="input-message_Class" placeholder="Press Enter for send message" onkeyup="if(window.event.keyCode==13){EnterChat( this.value )}" />

		<div class="attach-button_Class">
			<svg class="box_p">
				<rect class="box_p_Class" rx="11" ry="11" x="0" y="0" width="36" height="36">
				</rect>
			</svg>
			<svg class="line" viewBox="0 0 26 2">
				<path class="line_Class" d="M 0 0 L 26 0">
				</path>
			</svg>
			<svg class="line_r" viewBox="0 0 2 26">
				<path class="line_r_Class" d="M 0 26 L 0 0">
				</path>
			</svg>
		</div>
	</div>
</div>
</div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
		const socket = io.connect('http://uskawjdu.iptime.org:8082/chatRoom', {
				path : '/socket.io'
		})




		function makeChat(name, content) {
			const message_Class = document.createElement('div');
			message_Class.className = 'message_Class'
			const Client_Class = document.createElement('div')
			Client_Class.className = "client_Class";
			const span = document.createElement('span');
			span.textContent = `${name}`;
			Client_Class.appendChild(span);

			const box_t_Class = document.createElement('div');
			box_t_Class.className = "box_t_Class"
			const conlogin_div= document.createElement('span');
			box_t_Class.appendChild(conlogin_div);
			conlogin_div.textContent = `${content}`;
			conlogin_div.className = "conlogin-div";

			message_Class.appendChild(Client_Class);
			message_Class.appendChild(box_t_Class);

			const parent = document.querySelector('#Chat-Room-Body');
			const before_element = document.querySelector("#body-padding");
			parent.insertBefore(message_Class, before_element);
			// console.log("join 됨");
		}
		

		socket.on('join', (data)=> {

			makeChat("System", data.chat)
			// console.log(data)

		})

		socket.on("getChatAll", (data) => {
			console.log(data)
			for(const i of data.chats) {
				makeChat(i.nick, i.chat)
			}

			
			/*
                      data {
                        fieldCount: 0,
                        affectedRows: 1,
                        insertId: 0,
                        info: 'Rows matched: 1  Changed: 1  Warnings: 0',
                        serverStatus: 2,
                        warningStatus: 0,
                        changedRows: 1
                    }
			*/

			
		})

		socket.on("post Chat", (data) => {
			makeChat(data.user, data.chat)
		})

		function EnterChat(data) {
			socket.emit("post Chat", {content : data })
		}


		
</script>

<!-- <div class="message_Class">
	<div class="clinet_Class">
		<span>client-1</span>
	</div>

	<div class="box_t_Class" >
		<span class="conlogin-div">
			안녕하세요.
		</span>
	</div>
</div> -->
