<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat-Room</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Chat_Room.css"/>
<script id="applicationScript" type="text/javascript" src="Chat_Room.js"></script>
</head>
<body>
<div id="Chat-Room" class="Chat-Room_Class">
	<div class="head-title_Class">
		<svg class="head-box">
			<rect class="head-box_Class" rx="0" ry="0" x="0" y="0" width="400" height="40">
			</rect>
		</svg>
		<div class="Chat-name-number_Class">
			<div class="Room_name_Class">
				<span>채팅방 - </span>
			</div>
			<div class="Room_number_Class">
				<span>1</span>
			</div>
		</div>
	</div>
	<div class="input-message_Class">
		<svg class="box">
			<rect class="box_Class" rx="17" ry="17" x="0" y="0" width="344" height="36">
			</rect>
		</svg>
		<div class="Press_Enter_for_send_message_Class">
			<span>Press Enter for send message</span>
		</div>
	</div>
	<div class="attach-button_Class">
		<svg class="box_p">
			<rect class="box_p_Class" rx="11" ry="11" x="0" y="0" width="36" height="36">
			</rect>
		</svg>
		<svg class="line" viewBox="0 0 26 2">
			<path class="line_Class" d="M 0 0 L 26 0">
			</path>
		</svg>
		<svg class="line_r" viewBox="0 0 2 26">
			<path class="line_r_Class" d="M 0 26 L 0 0">
			</path>
		</svg>
	</div>
	<div class="message_Class">
		<svg class="box_t">
			<rect class="box_t_Class" rx="14" ry="14" x="0" y="0" width="128" height="35">
			</rect>
		</svg>
		<div class="conlogin-div">
			<span>안녕하세요.</span>
		</div>
		<div class="clinet_Class">
			<span>client-1</span>
		</div>
	</div>
<!--	<div class="message_w_Class">-->
<!--		<svg class="box_x">-->
<!--			<rect class="box_x_Class" rx="14" ry="14" x="0" y="0" width="128" height="35">-->
<!--			</rect>-->
<!--		</svg>-->
<!--		<div class="context_y_Class">-->
<!--			<span>안녕하세요.</span>-->
<!--		</div>-->
<!--		<div class="clinet_z_Class">-->
<!--			<span>client-2</span>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="message__Class">-->
<!--		<svg class="box_">-->
<!--			<rect class="box__Class" rx="14" ry="14" x="0" y="0" width="260" height="35">-->
<!--			</rect>-->
<!--		</svg>-->
<!--		<div class="context__Class">-->
<!--			<span>안녕친구? 나는 namjung이라고해</span>-->
<!--		</div>-->
<!--		<div class="client_Class">-->
<!--			<span>mine</span>-->
<!--		</div>-->
<!--	</div>-->
	<svg class="n_1">
		<rect class="n_1_Class" rx="0" ry="0" x="0" y="0" width="400" height="800">
		</rect>
	</svg>
</div>
</body>
</html>