<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat-waiting</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Chat_waiting.css"/>
<script id="applicationScript" type="text/javascript" src="Chat_waiting.js"></script>
</head>
<body>
	<div id="Chat-waiting" class="Chat-waiting_Class" >

		<div class="head-title_Class">
			<div class="n_3_Class">
				<svg class="head-box">
					<rect class="head-box_Class" rx="0" ry="0" x="0" y="0" width="400" height="40">
					</rect>
				</svg>
				<div class="Chat-name-number_Class">
					<div class="Room_name_Class">
						<span>namjung 채팅방</span>
					</div>
				</div>
			</div>
		</div>

		
		<div id="body">
			<div class="room-element"></div>
				<div class="room-element-title">
					<span>채팅방 - 1</span>
				</div>
				<div class="room-element-people">
					<div class="room-element-people-text">
						<span>1 / 20</span>
					</div>
				</div>
				<div class="room-element-type">
					<div class="Text__Class">
						<span>비밀방</span>
					</div>
				</div>


		</div>


		<div id="foot">
			<div class="input-message_Class">
				<svg class="box">
					<rect class="box_Class" rx="17" ry="17" x="0" y="0" width="109" height="36">
					</rect>
				</svg>
				<div class="Text_Class">
					<span>로그인</span>
				</div>
			</div>
			<button type="button" class="join_Class" onclick="alert('Hello World!')">
				<svg class="box_r">
					<rect class="box_r_Class" rx="17" ry="17" x="0" y="0" width="109" height="36">
					</rect>
				</svg>
				<div class="Text_s_Class">
					<span>회원가입</span>
				</div>
			</button>
		</div>

	</div>
</body>
</html>