<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat-waiting</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Chat_waiting.css"/>
<script id="applicationScript" type="text/javascript" src="Chat_waiting.js"></script>
</head>
<body>
	<div id="Chat-waiting" class="Chat-waiting_Class" >

		<div class="head-title_Class">
			<div class="n_3_Class">
				<svg class="head-box">
					<rect class="head-box_Class" rx="0" ry="0" x="0" y="0" width="400" height="40">
					</rect>
				</svg>
				<div class="Chat-name-number_Class">
					<div class="Room_name_Class">
						<span>namjung 채팅방</span>
					</div>
				</div>
			</div>
		</div>

		
		<div id="body">



		</div>



		<div id="foot">
			{% if not client %}
			<div class="input-message_Class">
				<svg class="box">
					<rect class="box_Class" rx="17" ry="17" x="0" y="0" width="109" height="36">
					</rect>
				</svg>
				<div class="Text_Class">
					<span>로그인</span>
				</div>
			</div>
			<button type="button" class="join_Class" onclick="alert('Hello World!')">
				<svg class="box_r">
					<rect class="box_r_Class" rx="17" ry="17" x="0" y="0" width="109" height="36">
					</rect>
				</svg>
				<div class="Text_s_Class">
					<span>회원가입</span>
				</div>
			</button>
			{% else %}
			<div class="input-message_Class">
				<svg class="box">
					<rect class="box_Class" rx="17" ry="17" x="0" y="0" width="218" height="36">
					</rect>
				</svg>
				<div class="Text_Class">
					<span>{{ client.nick }}		님 안녕하세요!</span>
				</div>
			</div>
			{% endif %}
			

		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			const socket = io.connect('http://uskawjdu.iptime.org:8082/wattingRoom', {
				path : '/socket.io'
			})

			socket.on('newRoom', (data) => {
				const room_element = document.createElement('div');
				room_element.className = 'room-element'
				const room_element_title = document.createElement('div')
				room_element_title.className ='room-element-title'
				const room_element_title_text = document.createElement('div')
				room_element_title_text.className = 'room-element-title-text'
				const room_element_title_text_span = document.createElement('span')
				room_element_title_text_span.textContent = data.title;
				room_element.appendChild(room_element_title)
				room_element_title.appendChild(room_element_title_text)
				room_element_title_text.appendChild(room_element_title_text_span)

				const room_element_people = document.createElement('div');
				room_element_people.className = 'room-element-people'
				const room_element_people_text = document.createElement('div');
				room_element_people_text.className = 'room-element-people-text'
				const room_element_people_text_span = document.createElement('span');
				room_element_people_text_span.textContent = data.inPeople + " / " + data.max
				room_element_people.appendChild(room_element_people_text)
				room_element_people_text.appendChild(room_element_people_text_span)
				room_element.appendChild(room_element_people)

				const room_element_type = document.createElement('div');
				const Text__Class = document.createElement('div');
				const Text__Class_span = document.createElement('span');
				room_element_type.appendChild(Text__Class)
				Text__Class.appendChild(Text__Class_span)
				Text__Class_span.textContent = data.state
				room_element_type.className = "room-element-type"
				Text__Class.className = "Text__Class"

				room_element.appendChild(room_element_type)


				

				
				document.querySelector('#body').appendChild(room_element)

				
			})

			socket.emit('get room')
		</script>

	</div>
</body>
</html>